* {
    box-sizing: border-box;
  }

  body {
    margin: 10px;
    font-family: "Kokoro","Sawarabi Mincho";
    /* background:rgb(195, 201, 226) url("interlaced.png") ; */
    background-color:rgb(83, 80, 129);
    /* background-image: url("interlaced.png"); */
    /* mix-blend-mode: multiply; */
    /* background-size: cover; */
    
  }

  .wrapper{
    display:flex; 
    flex-direction:column; 
    min-height:100vh;
  }

  header {
    height: 40px;
    width: 100%;
    padding: 0px 10px;
    font-size: 10px;
    background-color: rgb(83, 80, 129);
    top: 0;
    z-index: 10;
    display: flex;
    
  }

  header .title {
    margin-top: 0;
  }

  .whole {
    /* height: 650px; */
    height: 100%;
    width: 80%;
    /* background: linear-gradient(rgba(79, 131, 190,0.5), rgba(209, 164, 164,0.5)); */
    background-color: rgb(255, 255, 255);
    background-position: 30% 20%;
    background-size: 70%;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    align-items: center;
    margin:  0 auto; 
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
  }

  h2 {
    color: rgb(83, 80, 129);
    font-size: 40px;
    text-align: center;
    
   }

   form {
    color: rgb(83, 80, 129);
    font-size: 30px;
    text-align: center;
   }

   p label span {
    font-family: "Kokoro";
    color: rgb(83, 80, 129);
   }

   p .input_length{
    color: rgb(83, 80, 129);
   }

   p .input_length label{
    color: rgb(83, 80, 129);
    transition:.3s;
   }
   
   /* p .input_length label:hover{
    color: rgb(239, 234, 247);
    background-position: -100% 0;
   } */

   p .input_length label {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  p .input_length label::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: rgb(83, 80, 129);
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
  }

  p .input_length label:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
  }

   .textbox {
    padding: 10px;
    width: 200px;
    border:1px solid rgb(83, 80, 129);
    border-right:none;
    border-left:none;
    border-top:none;
    position: relative;
    outline:none;
    font-size: 20px;
  }

  ::placeholder{
    color:rgb(83, 80, 129)
  }

   .btn{
    font-family: "Kokoro","Sawarabi Mincho";
    color: rgb(250, 248, 255);
    display: inline-block;
    width: 150px;
    padding: 10px; 
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border:1px solid rgb(83, 80, 129);
    outline: 1px solid;
    outline-color: rgb(83, 80, 129);
    outline-offset: 0px;
    transition:.3s;
    background-color:rgb(83, 80, 129);
   }

   .btn:hover {
    color: rgb(83, 80, 129);
    animation: light .8s infinite;
    letter-spacing: .3rem;
    background-color:rgb(255, 255, 255)
  }

  @keyframes light {
    100% { 
      outline-color: transparent;
      outline-offset: 12px;
    }
  }

  .loading {
    mix-blend-mode: multiply;
    display: none;
  }
   /* resultの方のCSS */

   center {
    color: rgb(83, 80, 129);
    font-size: 20px;
    width: 90%;
    margin: 0 auto; 
    text-align: center;
    border-radius: 20px;
    padding: 0 0 40px;
    background-color:rgb(255, 255, 255);
   }
   

   center h1{
    color: rgb(83, 80, 129);
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
   }

   table {
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-delay: 0.7s;
    animation-fill-mode:forwards;
    opacity:0;
    color: rgb(83, 80, 129);
    
    font-size: 20px;
    margin:auto
   }

   @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(100px);
    }
  
    to {
      opacity: 1;
    transform: translateY(0);
    }
  }

   table th{
    text-align: center;
   }

   a {
    color: rgb(101, 132, 194);
   }

   center .again{
    margin: 50px;
   }

   /* aboutの装飾 */
  center h1{
    color: rgb(83, 80, 129);
    padding: 25px;
    font-size: 30px;
    text-align: center;
    margin:0;
  }

  center h2{
    padding: 0 50px;
    font-size: 20px;
    text-align: left;
    margin:0;
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
   }

