{% extends "layout.html" %}
{% block content %}
<center>
    <h1>─　ソラヨミについて　─</h1>
    <h2>
        　ソラヨミは、あかるさで話の雰囲気、長さで話の長さ、ことばで好きな言葉を指定すると、青空文庫の蔵書の中からAIがあなたにお勧めの一冊を提案してくれるサイトです。<br>

        <br>　青空文庫は、主に日本の文学作品のうちパブリックドメイン(著作権が切れたもの)を読むことができるサイトです。</br>

        <br>　蔵書数は2022年11月時点で17000点を超えており、かなり膨大です。その中から、自分の好みに合致する作品を探すのは中々大変なのではないでしょうか。</br>

        <br>　そこで、ソラヨミを使えば、簡単に自分好みの作品を探すことができます。</br>

        <br>　あなたの思い出に残る一冊が見つかるかもしれません。</br>
        <br>
    </h2>
    <a href="/">さっそくさがしてみる</a>
</center>
{% endblock %}